.airQuality{
    font-family: Garamond, serif;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5%;
        margin-left: 35%;
        margin-right: 20%;
}
