body {
  background-color: blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Garamond, serif;
}
.navbar {
  /* padding: 20px; */
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 1px solid #3c3838;
  background-color: rgb(49, 58, 62);
  font-family: Garamond, serif;
}
.navbar h1 {
  color: whitesmoke;
}
.navbar .links {
  margin-left: auto;
}
/* .navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
} */
.navbar a:hover {
  color: #f1356d;
}

